# don't change these unless you know what you're doing
IP="0.0.0.0"
PORT=1301
RUN="prod"

# you can change these if you want to use your own database
POSTGRES_USER="pg"
POSTGRES_PASSWORD="pg"
POSTGRES_DB="db"
POSTGRES_PORT=5432
POSTGRES_EMBEDDED="true"
PSQL_CONNECTION="" # optional psql connection uri. if you provide this, expanse will use it instead of the above vars

# go to https://www.reddit.com/prefs/apps ➔ "create another app..." ➔ name: "expanse", type: "web app", redirect uri: "http://localhost:1301/callback". then fill in these values
REDDIT_USERNAME="" # your reddit username
REDDIT_APP_ID="" # after you create the app, you will see it's id right under "web app"
REDDIT_APP_SECRET="" # after you create the app, you will see this value
REDDIT_APP_REDIRECT="http://localhost:1301/callback" # use this default value for LAN usage. if you are serving the app publicly, change it to "https://{your_public_domain}/callback"

# fill in username(s) (case-sensitive) separated by ", " (a comma AND a space) in the quotes. use "*" to allow or deny all, except usernames in the other list
ALLOWED_USERS="myredditusername, username2, username3"
DENIED_USERS="*"

# fill each of these with a 30+ character secure string. e.g., you can generate it using `pwgen -scn 30 1`
SESSION_SECRET=""
ENCRYPTION_KEY=""

# note: podman users should remove the double quotes around values for compatibility with podman
